html, body{
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

/* css variables */
:root{
    --primary-color: #4458dc;
    --primary-color2: #854fee;
    --title-color: #141313;
    --text-color: #777777;
    --border-color: #201f1f17;
    --gradient-color: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
    --shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3);
    --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);

    /* fontfamily variables */
    --roboto: 'Roboto', cursive;
}

/* navbar */

.header-area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
}
/* 1 rem = 16px */

.header-area .main-menu .navbar{
    padding: 1rem 20rem;
    transition: 1.5s ease-in-out;
}

.header-area .main-menu .nav-item .nav-link{
    font-family: cursive;
    text-transform: uppercase;
    font-weight: 500;
    padding: 1.7rem;
    color: var(--title-color);
}

.header-area .main-menu .navbar-nav .active a{
    background: var(--primary-color2);
    color: white;
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    /* background-clip: text; */
}

.header-area .main-menu .navbar-nav a:hover{
    background: var(--primary-color2);
    color: white;
    transition: 1s;
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; */
}

/* responsiveness */
@media only screen and (max-width: 576px){
    .header-area .main-menu .navbar,
    .header-area .main-menu .navbar .navbar-brand,
    .site-main .subscribe-area .subscribe,
    .site-main .subscribe-area .subscribe .subscribe-title,
    .site-main .subscribe-area .subscribe .subscribe-title p,
    .site-main .services-area,
    .site-main .subscribe-area,
    .site-main .brand-area,
    .site-main .about-area,
    .site-main .project-area
    {
        padding: 2% !important;
        margin: 0% !important;
    }

    .site-main .site-banner{
        padding: 0 !important;
    }

    .site-main .site-banner .site-title h3{
        padding-top: 5% !important;
        font-size: 30px !important;
    }
    .site-main .site-banner .site-title h4{
        font-size: 15px !important;
    }
    .site-main .site-banner .site-title h1{
        font-size: 35px !important;
    }

    .site-main .site-banner .site-title .title-text{
        line-height: 40px;
    }

    .site-main .subscribe-area .subscribe form .input-textbox input{
        width: 15rem !important;
        margin-bottom: 1rem;
    }

    .site-main .services-area .para{
        padding: 2% !important;
    }

    .site-main .services-area .services{
        width: 100% !important;
        margin: 1rem 0rem !important;
    }

    .site-main .services-area, .site-main .brand-area .experience-area{
        padding: 2% !important;
    }
    .site-main .brand-area .experience-area .bg-panel{
        margin-left: 0 !important;
        left: auto !important;
        width: 350px !important;
        height: 350px !important;
    }
    .site-main .brand-area .experience-area .years-area, .site-main .brand-area .experience-area .call-area{
        padding-left: 0 !important;
    }

    .site-main .about-area .about-title h2 span{
        letter-spacing: normal !important;
        font-size: 30px !important;
        line-height: normal !important;
    }

    .site-main .about-area .about-title .paragraph{
        width: 100% !important;
    }

    .site-main .project-area .project-title{
        padding-bottom: 1rem !important;
    }

    .site-main .project-area .project-title .title-h1, 
    .site-main .services-area .services-title .title-text,
    .site-main .clients-area .about-title .title-h1{
        font: normal bold 25px/30px var(--roboto);
        text-align: center;
    }

    .site-main .project-area .button-group{
        display: flex;
        justify-content: space-between;
    }
    .site-main .project-area .button-group .button{
        margin-bottom: 1rem !important;
        padding: .5rem .5rem !important;
        font-size: 10px !important;
    }
    .site-main .clients-area .about-title p{
        padding: .5rem 2rem !important;
    }
    .site-main .subscribe-area .subscribe{
        background: #6464ff !important;
    }
    .site-main .subscribe-area .subscribe .subscribe-title h4{
        font: normal 700 20px/20px var(--roboto) !important;
    }
    .site-main .subscribe-area .subscribe form{
        width: 100% !important;
    }
    footer.footer-area .social h5 {
        font: normal 300 17px/10px var(--roboto);
    }
    footer.footer-area .social a > i{
        font-size: 13px !important;
        padding: .5rem !important;
    }
    .site-main .site-banner .site-buttons .button{
        padding: .3rem 1rem !important;
        font-size: 8px !important;

    }
}

@media only screen and (max-width: 768px){
    .site-main .subscribe-area {
        padding: 1rem 7rem;
        margin-left: 0rem !important;
    }
    .site-main .subscribe-area .subscribe form .input-textbox input {
        width: 300px !important;
        margin-bottom: 1rem !important;
    }

    .site-main .site-banner .site-title h3{
        padding-top: 10% !important;
        font-size: 40px !important;
    }

    .site-main .site-banner .site-title h1{ 
        font-size: 50px !important;
    }
    .site-main .site-banner .site-title h2{
        font-size: 30px !important;
    }
    .header-area .main-menu .navbar{
        padding: 1rem 2rem !important;
    }
    
}

@media only screen and (max-width: 992px){
    .header-area .main-menu .navbar{
        padding: 1rem 2rem !important;
    }
    .site-main .site-banner .site-title h3{
        padding-top: 10% !important;
    }
}


/* banner area  */

.site-main .site-banner{
    background: url(../img/banner/home-banner.png);
    background-repeat: no-repeat;
    background-position: 0% 50%;
}

.site-main .site-banner .site-title h3{
    padding-top: 35%;
    font-weight: 500;
}

.site-main .site-banner .site-title h3::after{
    content: '';
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1{
    font-size: 5rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}

.site-main .site-banner .banner-img > img{
    padding: 7rem 0;
    width: 90rem;
}

.title-text{
    font-size: 50px;
    font-weight: bold;
    line-height: 72px;
    font-family: var(--roboto);
}

.text-uppercase{
    text-transform: uppercase;
}

.button{
    padding: .8rem 2.2rem;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    font-family: var(--roboto);
    position: relative;
    border: 3px solid transparent;
    border-radius: 4px;
}

.btn-warning{
    color: whitesmoke;
    box-shadow: var(--box-shadow);
    transition: background .5s ease;
}

.btn-warning:hover{
    background: white;
    color: black;
}

.btn-primary{
    color: whitesmoke;
    box-shadow: var(--box-shadow);
    transition: background .5s ease; 
}

.btn-primary:hover{
    background: white;
    color: black;
}
/* end banner area  */

/* about us area  */

.btn-success{
    padding: 10px 10px;
    color: whitesmoke;
    box-shadow: var(--box-shadow);
    transition: background .5s ease;
}

.btn-success:hover{
    background: white;
    color: black;
}

.site-main .about-area{
    padding: 8rem 5rem;
}

.site-main .about-area .about-title h2 > span{
    display: block;
    font-size: 49px;
    font-weight: bold;
    line-height: 60px;
    font-family: var(--roboto);
    letter-spacing: 21px;
}

.site-main .about-area .about-title .paragraph > p{
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    color: var(--text-color);
    font-family: var(--roboto);
}

/* end about us area  */


/* start brand area  */

.site-main .brand-area{
    background: #8e99f8;
    padding: 6rem 10rem;
    margin-bottom: 1rem;
}

.site-main .brand-area .first-row .col-lg-4{
    display: flex;
    justify-content: center;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand{
    border: 1px solid var(--border-color);
    background: white;
    text-align: center;
    padding: 1.5rem 1.5rem;    
    margin: .9rem .5rem;
    height: 100px;
    width: 180px;
    cursor: pointer;
    transition: trasnform .4s ease;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand > img{
    width: 50%;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover{
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover > img{
    filter: brightness(0.15);
}

.site-main .brand-area .experience-area{
    padding-left: 1rem;
    position: relative;
}

.site-main .brand-area .experience-area span{
    display: block;
}

.site-main .brand-area .experience-area .years-area{
    background: url(../img/client-info-bg.png) no-repeat 45px 20px;
    padding: 2rem 0;
    width: 40rem;
    height: 18rem;
    padding-left: 8rem;
    position: relative;
}

.site-main .brand-area .experience-area .bg-panel{
    position: absolute;
    left: -190px;
    top: 0%;
    background: #471f1f;
    width: 400px;
    height: 400px;
    margin-left: 340px;
    z-index: 0;
}

.site-main .brand-area .experience-area .years-area .years{
    font-size: 84px;
    font-weight: bold;
    font-family: var(--roboto);
    line-height: 40px;
    color: #c0bcbc;
    z-index: 2;
}

.site-main .brand-area .experience-area .years-area h2 > span{
    font: normal 600 22px/30px var(--roboto);
}

.site-main .brand-area .experience-area .call-area{
    padding-left: 10rem;
}

.site-main .brand-area .experience-area .call-area .call-now{
    z-index: 1;
}

.site-main .brand-area .experience-area .call-area .sp{
    z-index: 1;
    color: white;
}

.site-main .brand-area .experience-area .call-area .call-now .h4{
    text-decoration: none;
}

.site-main .brand-area .experience-area .call-area .call-now > span{
    color: white;
}
/* end brand area  */


/* start services area  */

.services-area .row .col-lg-12 .para{
    font-size: 16px;
    padding: 0 14rem;
    font-weight: 500;
    line-height: 25px;
    color: var(--text-color);
    font-family: var(--roboto);
}


.site-main .services-area{
    padding: 7rem 2rem;
}

.site-main .services-area .services-title{
    padding: 0 1.4rem;
}

.site-main .services-area .services-title h1{
    font-size: 35px;
}

.site-main .services-area .services{
    background: rgba(240, 241, 239, 0.973);
    /* border: .1px solid grey; */
    padding: 2rem 0;
    width: 16rem;
    margin: 4rem .5rem;
    transition: box-shadow, transform .7s ease;
    border-radius: 10px;
}

.site-main .services-area .services:hover{
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
}

/* end services area  */

/* start projects area  */

.site-main .project-area{
    padding: 4rem 0;
}

.site-main .project-area .button-group button{
    background: transparent;
    border: none;
    font: normal 500 16px/130px;
    font-family: var(--roboto);
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.site-main .project-area .button-group .button{
    font: normal 500 16px/130px;
    font-family: var(--roboto);
    border: 2px solid blue
}

.site-main .project-area .button-group button + button{
    padding-left: 3rem;
}

.site-main .project-area .grid .our-project > .title h4{
    font: normal 700 25px/12px var(--roboto);
    
}

.site-main .project-area .grid .our-project .img a:hover img{
    filter: brightness(1.1) drop-shadow(1px 8px 8px #b1afaf);
}

.title-h1{
    font: normal bold 39px/40px var(--roboto);
}

/* end projects area  */


/* start clients area  */


.site-main .clients-area .about-title p{
    padding: 1rem 7rem;
}

.site-main .clients-area .client{
    background: #ffffff10;
    box-shadow: var(--box-shadow);
    margin: 3rem 1.2rem;
}

.site-main .clients-area .client .client-img{
    padding: 2rem;
}

.site-main .clients-area .client .about-client{
    padding-top: 2rem;
}

.site-main .clients-area .client .about-client h4{
    font: normal 500 21px/20px var(--roboto);
}

.site-main .clients-area .client .about-client p{
    font-size: 14px;
}

.site-main .clients-area .owl-carousel .owl-item{
    display: flex;
    justify-content: center;
    padding: 0 1.5rem;
}

.site-main .clients-area .owl-carousel .owl-dots .owl-dot.active span{
    background: var(--primary-color);
    width: 12px;
    height: 12px;
}
/* start clients area  */

/* start subscribe area  */

.site-main .subscribe-area{
    padding: 1rem 7rem;
    margin-left: 5rem;
}

.site-main .subscribe-area .subscribe{
    background: url(../img/subscribe-bg.png) no-repeat;
    padding: 10rem 0;
    margin: 3rem auto;
} 

.site-main .subscribe-area .subscribe .subscribe-title h4{
    font: normal 700 30px/30px var(--roboto);
    color: white;
}

.site-main .subscribe-area .subscribe .subscribe-title p{
    color: white;
    padding: 1rem 4rem;
}

.site-main .subscribe-area .subscribe form .input-textbox input{
    width: 400px;
    padding: 1rem 1rem;
    border: 1px sold white;
    background-color: transparent;
    color: white;
    font: normal 500 17px/20px var(--roboto);
}

.site-main .subscribe-area .subscribe form .input-textbox input::placeholder{
    color: white;
}

.site-main .subscribe-area .subscribe form .btn-submit button{
    background: white;
    color: black;
    padding: .7rem 2rem;
}
/* start subscribe area  */


/* footer area  */

footer .footer-area{
    padding: 5rem 0;
    background: url(../img/footer-bg.png) no-repeat;
}

footer.footer-area .social h5{
    font: normal 500 23px/20px var(--roboto);
}


footer.footer-area .social a>i{
    font-size: 22px;
    padding: 2rem;
    color: grey;
    transition: 1s;
}

footer.footer-area .social a:hover > i{
    color: blue;
    transform: translateY(-10px);
}
/* footer area  */